<% if obj.errors.any? %>
  <h5>The following errors prevented <%=obj.class.name.downcase%> from being saved: </h5>
  <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>